{% extends 'index.html' %}

{% block content %}
    <h1 class="mb-2">Secret Scanner</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">Scan</button>
    </form>

    {% if scan_results %}
        <h2>Scan Results</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Secret Type</th>
                    <th>Secrets</th>
                </tr>
            </thead>
            <tbody>
                {% for result in scan_results %}
                    {% if result.secrets %}
                        {% for secret_type, secrets in result.secrets.items %}
                            <tr>
                                <td >{{ result.url }}</td>
                                <td class="bg-black text-white">{{ secret_type }}</td>
                                <td class="bg-black text-white">
                                    <ul>
                                        {% for secret in secrets %}
                                            <li>{{ secret }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>{{ result.url }}</td>
                            <td colspan="2">No secrets found.</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
